<!DOCTYPE html>
<html>
  <head>
    <title>YLBot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../static/alien.png"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
    .clicky:hover {
      cursor: pointer;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header" style="text-align: center">
        <h1><span onclick="window.location.href='/'" class="clicky">YLBot</span></h1>
        <h5><a href="/">Send</a> &nbsp; | &nbsp; <a href="/responses">Responses</a></h5>
      </div>
      <div>
        Message sent.
        <br><br>
        <a href="/">Send another message.</a><br><br>
        <a href="/responses">View responses.</a>
      </div>
    </div>
  </body>
</html>
